.AboutUsPage-wrapper {
    padding: 80px 32px;
}

.AboutUsPage-wrapper .AboutUsPage-question-card{
    padding: 24px;
}

.AboutUsPage-wrapper .AboutUsPage-whyUs .AboutUsPage-whyIcon {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--primary-base, #77dada);
}

.Card-card {
    border-radius: 32px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid {
    display: grid;
}

.AboutUsPage-wrapper ul {
    padding-left: 20px;
}

