/*  */

.input-group {
  position: relative;
  padding: 16px 20px;
  border-radius: 28px;
  border: 1px solid #eaecf0;
  box-shadow: var(--shadow-xs);
  display: flex;
  align-items: center;
  gap: 8px;
  fill: #fff;
}

.input-group > svg {
  width: 20px;
  height: 20px;
}

.input-group > img {
  width: 20px;
  height: 20px;
}

.input-group > svg > path {
  stroke: var(--gray-400, #98a2b3);
}

.input-group:focus-within {
  border: 1px solid var(--primary-base);
  box-shadow: 0 0 0 4px var(--primary-light);
}

.input-group > label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 16px;
  background-color: #fff;
  padding: 0 4px;
  color: var(--gray-600, #475467);
}

.input-group > input,
.input-group > textarea {
  border: none;
  flex-grow: 1;
  width: 0;
  color: var(--gray-800, #1d2939) ; 
  height: 24px;
}

.input-group > textarea {
  height: 140px;
}

.input-group > input[type="button"] {
  background: var(--base-white);
  text-align: left;
}

.input-required::after {
  content: "*";
  color: red;
}