button {
  border-radius: 100rem;
  box-shadow: var(--shadow-xs);
  display: flex;
  align-items: center;
  gap: 8px;
}

.Button-button-link-color {
  color: var(--primary-dark);
  fill: var(--primary-dark);
  border: none;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.Button-button-normal {
  padding: 16px 20px;
  white-space: nowrap;
}

.Button-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* btn */

.btn {
  box-shadow: var(--shadow-xs);
  border-radius: 100rem;
}

.btn-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #77dada;
  border: 1px solid #77dada;
  color: #0e4f4f;
  fill: #0e4f4f;
}

.btn-primary:hover {
  background-color: var(--primary-dark);
  color: #fff;
  cursor: pointer;
  fill: #fff;
}

.btn-outline {
  background: linear-gradient(0deg, #fff, #fff),
    linear-gradient(0deg, #eaecf0, #eaecf0);
  border: 1px solid #eaecf0;
  color: var(--gray-800);
  fill: var(--gray-800);
}

.btn-outline:hover {
  background: var(--gray-50);
  color: var(--gray-700);
  fill: var(--gray-700);
  cursor: pointer;
}

.btn-outline > svg > path {
  stroke: var(--gray-800);
}

.btn-normal {
  padding: 16px 20px;
  white-space: nowrap;
}

.btn-normal > svg,
.btn-sm > svg {
  width: 20px;
  height: 20px;
}

.btn-normal > img,
.btn-sm > img {
  width: 20px;
  height: 20px;
}

.btn-sm {
  padding: 10px 16px;
  white-space: nowrap;
}

.btn-iconOnly {
  gap: 0;
  padding: 8px;
}

.btn-color {
  stroke: var(--primary-dark);
}

.btn-w-full {
  width: 100%;
}
