.CategoryCard-categoryCard {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 24px;
  width: 384px;
}

.CategoryCard-imageWrapper {
  margin: 16px 16px 0;
  border-radius: 24px;
  overflow: hidden;
  width: 352px;
  height: 216px;
}

.CategoryCard-body,
.CategoryCard-footer {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.CategoryCard-body h6 {
    margin: 0;
}