.Footer-footer1 {
  background-color: var(--gray-900);
  color: var(--gray-400);
}

.Footer-footer {
  padding: 64px 0 48px;
  display: flex;
  gap: 64px;
  width: min(1216px, 100%);
  align-items: center;
}

.Footer-footer1 > .Footer-footer > div:first-child {
  width: max(25%, 320px);
}

.Footer-footer1 > .Footer-footer > div:last-child {
  flex-grow: 1;
}

.Footer-footer1 > .Footer-footer span {
  color: var(--gray-500);
  cursor: default;
}

.Footer-footer2 {
  background-color: var(--gray-800);
}

.Footer-footer2 p {
  flex-grow: 1;
}

.Footer-anchor:hover {
  color: var(--primary-dark);
}
