.StaticCard-staticCard {
  display: flex;
  width: 100%;
  padding: 24px;
  align-items: center;
  gap: 48px;
}

.StaticCard-rate {
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border-right: 1px solid var(--gray-200, #eaecf0);
  color: var(--warning-base, #f79009);
}

.StaticCard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0;
}

.StaticCard-content-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.StaticCard-content-item label {
  color: var(--infomation-base, #356ad1);
}

.StaticCard-progressBar {
  position: relative;
  width: 120px;
  height: 6px;
  gap: 8px;
  flex: 1 0;
  border-radius: 100px;
  background: var(--gray-100, #f2f4f7);
}

.StaticCard-progressBar .StaticCard-progress {
  position: absolute;
  height: 6px;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: var(--warning-base, #f79009);
}

@media (max-width: 1024px) {
  .StaticCard-staticCard {
    gap: 16px;
  }

  .StaticCard-rate {
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 16px;
  }

  .StaticCard-rate h4 {
    font-size: 20px;
  }

  .StaticCard-progressBar {
    width: 100%;
  }
}
