.Checkbox-container {
  width: fit-content;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  cursor: pointer;
}

.Checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.Checkbox-checkmark {
  border: 1px solid var(--gray-300);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.Checkbox-checkmark.Checkbox-sm {
  width: 16px;
  height: 16px;
}

.Checkbox-checkmark.Checkbox-sm > svg {
  width: 12px;
  height: 12px;
  stroke-width: 1.6;
}

.Checkbox-checkmark::after,
.Checkbox-checkmark > svg {
  content: "";
  display: none;
}

.Checkbox-container > input[type="checkbox"] ~ .Checkbox-checkmark {
  border-radius: 4px;
}

.Chechbox-textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0;
}

.Chechbox-title {
  color: var(--gray-700, #344054);
  font-weight: 500;
}

.Checkbox-container input:checked ~ .Checkbox-checkmark > svg {
  display: block;
  stroke: solid var(--primary-dark);
}

.Checkbox-container input:focus ~ .Checkbox-checkmark {
  border-radius: 4px;
  border: 1px solid var(--primary-base, #77dada);
  background: var(--base-white, #fff);
  box-shadow: 0 0 0 4px #caf8f8;
}

.Checkbox-container > input:checked ~ .Checkbox-checkmark {
  border: 1px solid var(--primary-dark, #0e4f4f);
  background: var(--primary-base, #77dada);
}

.Checkbox-container:hover .Checkbox-checkmark {
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-base);
}
