.Dropdown-dropdown {
  min-width: 500px;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 10px;
  position: absolute;
  inset: 0 auto auto 0;
  transform: translate3d(0, 70px, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
}

.dropdown {
  display: none;
  width: 100%;
  padding-top: 10px;
  position: absolute;
  inset: 0 auto auto 0;
  transform: translate3d(0, 70px, 0);
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
  overflow-y: auto;
  max-height: 240px;
}

.dropdown-item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}

.select-input:focus-within .dropdown {
  display: flex;
}
