.RoomCard-roomCard {
  display: flex;
  align-items: center;
  border-radius: 32px;
  gap: 20px;
  padding: 20px;
}

.RoomCard-img-wrapper {
  border-radius: 12px;
  width: 76px;
  min-width: 76px;
  height: 76px;
  overflow: hidden;
}

.RoomCard-roomDetail {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.RoomCard-title {
  color: var(--gray-900, #101828);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  cursor: pointer;
}

.RoomCard-roomInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.RoomCard-roomInfo-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-600, #475467);
}

.RoomCard-price {
  color: var(--primary-dark, #0e4f4f);
}

.RoomCard-user {
  color: var(--gray-400, #98a2b3);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.RoomCard-roomBtn {
  width: 140px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .RoomCard-roomCard {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .RoomCard-roomCard .RoomCard-img-wrapper {
    display: none;
  }

  .RoomCard-footer {
    width: 100%;
  }
}
