@import "/views/components/_reset.css";
@import "/views/components/_config.css";
@import "/views/components/_variable.css";
@import "/views/components/_input.css";
@import "/views/components/Button.css";
@import "/views/components/Header.css";
@import "/views/components/Badge.css";
@import "/views/components/card.css";
@import "/views/components/BlogCard.css";
@import "/views/components/SectionHeader.css";
@import "/views/components/PartnerSection.css";
@import "/views/components/ReviewQuote.css";
@import "/views/components/ReviewSection.css";
@import "/views/components/Searchbox.css";
@import "/views/components/BlogSection.css";
@import "/views/components/CategoryCard.css";
@import "/views/components/Footer.css";

@import "/views/frontend/HomePage/css/components/PopularShips.css";
@import "/views/frontend/HomePage/css/components/ProductCard.css";

.BlogPage-blog-page {
    padding: 80px 32px;
}

/* Section */
.SectionHeader-column {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.SectionHeader-sectionHeader {
    display: flex;
    flex-grow: 1;
    gap: 16px;
}

.SectionHeader-sectionHeader .SectionHeader-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0;
}

.SectionHeader-title h4 {
    margin: 0;
    color: var(--gray-900, #101828);
}

.SectionHeader-sectionHeader .SectionHeader-description {
    width: 488px;
    color: var(--gray-600, #475467);
    flex-shrink: 0;
}

.Tabs-tabs-header {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-100, #f2f4f7);
    background: var(--gray-50, #f9fafb);
}

/* Tabs */
.Tabs-sm {
    padding: 8px 12px;
}

.Tabs-active, 
.Tabs-tabItem:focus, 
.Tabs-tabItem:hover {
    color: var(--gray-700);
    background: var(--base-white);
}

.Tabs-active, 
.Tabs-tabItem:hover {
    box-shadow: var(--shadow-sm);
    cursor: pointer;
}

.Tabs-tabItem {
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--gray-500);
    border-radius: 6px;
    padding: 8px 12px;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    background: transparent;
    box-shadow: none;
}

.BlogPage-blog-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}


.BlogCard-imageWrapper-image {
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 6px -2px rgba(16, 24, 40, .06), 0 12px 16px -4px rgba(16, 24, 40, .1);
    max-width: 100% !important;
}

.Card-card {
    border-radius: 32px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
}

.subheading.md {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

/* Pagination */
.Pagination-pagination {
    padding: 12px 24px 16px;
    border-top: 1px solid var(--gray-200, #eaecf0);
}

.Pagination-pagination label, 
.Pagination-pagination p {
    color: var(--gray-700, #344054);
}

.Pagination-pagination 
.Pagination-page-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-xs);
}
.Pagination-page-size>input[type=number] {
    border: none;
    outline: none;
    width: 30px;
    height: 24px;
    color: var(--gray-900, #101828);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.Pagination-pagination-container {
    display: flex;
    list-style-type: none;
    border-radius: 100px;
    border: 1px solid var(--gray-300, #d0d5dd);
    box-shadow: var(--shadow-xs);
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
}

.Pagination-pagination-container 
.Pagination-pagination-item
.Pagination-disabled {
    pointer-events: none;
}
.Pagination-pagination-container 
.Pagination-pagination-item:last-child, 
.Pagination-pagination-item:first-child {
    padding: 10px 16px;
    gap: 8px;
    width: -moz-fit-content;
    width: fit-content;
}
.Pagination-pagination-container 
.Pagination-pagination-item {
    display: flex;
    width: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--gray-300, #d0d5dd);
    background: var(--base-white, #fff);
    color: var(--gray-800, #1d2939);
}

.Pagination-pagination-container 
.Pagination-pagination-item
.Pagination-selected {
    background: var(--gray-50, #f9fafb);
}

.Pagination-pagination-container 
.Pagination-pagination-item {
    display: flex;
    width: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--gray-300, #d0d5dd);
    background: var(--base-white, #fff);
    color: var(--gray-800, #1d2939);
}

.Pagination-pagination-container 
.Pagination-pagination-item:last-child {
    border-right: none;
}


.header-menu-mb {
    display: none;
}

.Dropdown-dropdown {
    min-width: 500px;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 10px;
    position: absolute;
    inset: 0 auto auto 0;
    transform: translate3d(0, 70px, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray-100, #f2f4f7);
    background: var(--base-white, #fff);
    box-shadow: 0 8px 8px -4px rgba(16, 24, 40, .03), 0 20px 24px -4px rgba(16, 24, 40, .08);
    z-index: 99;
    overflow: auto;
    display: none;
}

/* mobile */
@media only screen and (max-width: 1280px) {
    .container {
        padding: 0 8px;
    }
}

@media (max-width: 1024px) {
    .header-logo {
        width: 120px;
        height: 30px;
    }

    .header-nav-container {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-phone {
        display: none;
    }

    .header-menu-mb {
        display: block;
    }


}

/*  */
@media (max-width: 1024px) {
    .header-menu-mb-nav-item {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .header-menu-mb-content {
        transform: translate3d(0, 96px, 0) !important;
        color: #000;
        min-width: 0 !important;
        width: 100% !important;
        padding-top: 0 !important;
    }

    .header-menu-mb-nav-item-active {
        color: var(--base-white);
        background-color: var(--primary-base, #77dada);
    }

    .header-menu-mb-nav-item {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

@media (max-width: 1024px) {
    .BlogPage-blog-page {
        padding: 24px;
        gap: 24px;
    }

    .BlogPage-blog-header {
        flex-direction: column;
    }

    .SectionHeader-sectionHeader {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 24px;
    }

    .SectionHeader-sectionHeader .SectionHeader-title h4 {
        font-size: 30px;
    }

    .SectionHeader-sectionHeader .SectionHeader-description {
        width: 100%;
        font-size: 16px;
    }

    .BlogPage-blog-list {
        gap: 16px;
    }

    .BlogCard-blogCard {
        width: 100%;
    }

    .Pagination-pagination {
        padding: 12px 0;
        margin: auto;
        justify-content: center;
    }

    .Pagination-left-pagination, 
    .Pagination-pagination-container 
    .Pagination-pagination-left-item, 
    .Pagination-pagination-container 
    .Pagination-pagination-right-item {
        display: none;
    }

    .Pagination-pagination-container 
    .Pagination-pagination-item:last-child, 
    .Pagination-pagination-item:first-child {
        padding: 5px;
        width: 40px;
    }

    .Pagination-pagination-container 
    .Pagination-pagination-item {
        width: 35px;
    }
    
}

/* Footer */
@media (max-width: 1200px) {
    .Footer-footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 16px;
    }

    .Footer-footer-list {
        width: 100%;
        flex-direction: column;
    }
}