<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="./css/main.css">

</head>

<body>
    <div class="app">
        <div class="header-wrapper home-header">
            <div class="container flex justify-between align-center header-container">
                <div class="flex align-center gap-40 h-full">
                    <div class="header-logo">
                        <a href="/">
                            <img src="https://mixivivu.com/_next/image?url=%2Fblack-logo.png&w=256&q=75" alt="">
                        </a>
                    </div>

                    <ul class="flex gap-24 h-full align-center cursor-pointer header-nav-container">
                        <li class="header-menu h-full flex align-center">
                            <label for="" class="md">Tìm du thuyền</label>
                        </li>

                        <li class="header-menu h-full flex align-center">
                            <label for="" class="md">Tìm du thuyền</label>
                        </li>

                        <li class="header-menu h-full flex align-center">
                            <label for="" class="md">Tìm du thuyền</label>
                        </li>

                        <li class="header-menu h-full flex align-center">
                            <label for="" class="md">Tìm du thuyền</label>
                        </li>
                    </ul>
                </div>
                <div class="flex gap-16 align-center">
                    <div class="header-phone">
                        <div class="header-phone-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M21.384,17.752a2.108,2.108,0,0,1-.522,3.359,7.543,7.543,0,0,1-5.476.642C10.5,20.523,3.477,13.5,2.247,8.614a7.543,7.543,0,0,1,.642-5.476,2.108,2.108,0,0,1,3.359-.522L8.333,4.7a2.094,2.094,0,0,1,.445,2.328A3.877,3.877,0,0,1,8,8.2c-2.384,2.384,5.417,10.185,7.8,7.8a3.877,3.877,0,0,1,1.173-.781,2.092,2.092,0,0,1,2.328.445Z">
                                </path>
                            </svg>
                        </div>
                        <a href="tel:0922222016">Hotline: 0922222016</a>
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary btn-sm btn-contact">
                            <div class="label sm">Liên hệ Mixivivu</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="ShipDetail-breadCrumbsWrapper">
                <div class="container ShipDetail-breadCrumbs">
                    <div class="BreadCrumbs-breadCrumbsContainer">
                        <div class="Breadcrumbs-breadCrumb">
                            <img src="/views/assest/svg/home_icon.svg" alt="home_icon">
                        </div>
                        <a href="#">
                            <div class="BreadCrumbs-breadCrumbs">
                                <img src="/views/assest/svg/chevronright_icon.svg" alt="chevronright_icon">
                                <div class="Breadcrumbs-breadCrumb">
                                    Tìm du thuyền
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="BreadCrumbs-breadCrumbs BreadCrumbs-selected">
                                <img src="/views/assest/svg/chevronright_icon.svg" alt="chevronright_icon">
                                <div class="Breadcrumbs-breadCrumb">
                                    Du thuyền Heritage Bình Chuẩn Cát Bà
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="ShipDetail-navigation">
                    <div class="SectionHeader-sectionHeader">
                        <div class="SectionHeader-title">
                            <h4>
                                <div class="flex gap-32">
                                    <div class="flex flex-col gap-16 flex-grow">
                                        <h4>Du thuyền Heritage Bình Chuẩn Cát Bà</h4>
                                        <div class="flex gap-8 ShipDetail-badge-list">
                                            <div class="Badge-warning Badge-lg Badge-container">
                                                <img src="/views/assest/svg/star_icon.svg" alt="star_icon">
                                                <label class="sm">4.9 (11 đánh giá)</label>
                                            </div>
                                            <div class="Badge-default Badge-lg Badge-container">
                                                <img src="/views/assest/svg/anchor_icon.svg" alt="anchor_icon">
                                                <label class="sm">Lux Cruises, Lô 28 Cảng Quốc Tế Tuần Châu</label>
                                                <a href="#map" class="ShipDetail-mapLink">Xem bản đồ và lịch trình</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h4>
                            <div>
                                <span
                                    style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
                                    <span
                                        style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
                                        <img alt="" aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2780%27%20height=%278%27/%3e"
                                            style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;">
                                    </span>
                                    <img srcset="/views/assest/img/heading-border.webp 1x, /views/assest/img/heading-border.web 2x"
                                        src="/views/assest/img/heading-border.webp 1x, /views/assest/img/heading-border.web 2x"
                                        decoding="async" data-nimg="intrinsic"
                                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                </span>
                            </div>
                        </div>
                    </div>
                    <h4 style="color: var(--primary-dark, #0E4F4F);">
                        3,675,000 đ/ khách
                    </h4>
                </div>
            </div>

            <div class="ShipDetail-carousel">
                <div class="flex gap-32 justify-center Carousel-carousel">
                    <button type="button"
                        class="btn btn-btn Carousel-carousel-btn Carousel-left-btn btn-normal btn-primary btn-iconOnly">
                        <div class="label md"></div>
                        <img src="/views/assest/svg/arrowleft_icon.svg" alt="arrowleft_icon">
                    </button>

                    <button type="button"
                        class="btn btn-btn Carousel-carousel-btn Carousel-right-btn btn-normal btn-primary btn-iconOnly">
                        <div class="label md"></div>
                        <img src="/views/assest/svg/arrowright_icon.svg" alt="arrowright_icon">
                    </button>

                    <div class="Carousel-carouselItem">
                        <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                            <img alt="du-thuyen-banner"
                                src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet%20pearl1/images/y0gtn1cm0y9braq8.webp"
                                width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                        </div>
                    </div>

                    <div class="Carousel-carouselItem">
                        <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                            <img alt="du-thuyen-banner"
                                src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet pearl1/images/9vqclzqprxpxhy3y.webp"
                                width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                        </div>
                    </div>

                    <div class="Carousel-carouselItem">
                        <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                            <img alt="du-thuyen-banner"
                                src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet%20pearl1/images/pd31qe637l03mk3p.webp"
                                width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                        </div>
                    </div>

                    <div class="Carousel-thumbs flex gap-12">
                        <div class="Carousel-thumbItem">
                            <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <img alt="carousel-item"
                                    src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet pearl1/images/y0gtn1cm0y9braq8.webp"
                                    width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="Carousel-thumbItem">
                            <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <img alt="carousel-item"
                                    src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet%20pearl1/images/hxhzjyk2t4259emc.webp"
                                    width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="Carousel-thumbItem Carousel-thumbItem-active">
                            <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <img alt="carousel-item"
                                    src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet%20pearl1/images/8knin9nwa5pt6yik.webp"
                                    width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="Carousel-thumbItem">
                            <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <img alt="carousel-item"
                                    src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet%20pearl1/images/q0t7qufnet3tf3ou.webp"
                                    width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="Carousel-thumbItem">
                            <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <img alt="carousel-item"
                                    src="https://minio.fares.vn/mixivivu-dev/tour/du-thuyen-scarlet%20pearl1/images/ub3xjcm31yd1szlb.webp"
                                    width="100%" height="100%" loading="lazy" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ShipDetail-side-bar-mb">
                <div class="card">
                    <div class="ShipDetail-ship-info-header">
                        Thông tin du thuyền
                    </div>
                    <div class="ShipDetail-ship-info-content flex flex-col gap-16">
                        <div class="flex gap-24 align-start">
                            <div class="ShipDetail-ship-info-content-label flex align-center gap-8">
                                <img src="/views/assest/svg/anchor_icon.svg" alt="">
                                <p class="md">Hạ thuỷ</p>
                            </div>
                            <label class="md">2019</label>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 100vh;"></div>
        </div>

    </div>
</body>

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    const carouselLeftBtn = $('.Carousel-left-btn');
    const carouselRightBtn = $('.Carousel-right-btn');
    let carouselItems = $$('.Carousel-carouselItem');
    let carouselThumbItems = $$('.Carousel-thumbItem');

    let images = [
        "image1.jpg",
        "image2.jpg",
        "image3.jpg",
        "image4.jpg",
        "image5.jpg"
    ];

    let thumbImg = [
        'imageThumb1.jpg',
        'imageThumb2.jpg',
        'imageThumb3.jpg',
        'imageThumb4.jpg',
        'imageThumb5.jpg'
    ]

    currentIndex = 0;

    carouselRightBtn.onclick = (e) => {
        let temp = [];
        temp.push(carouselItems[0].querySelector('img').src);
        temp.push(carouselItems[1].querySelector('img').src);
        temp.push(carouselItems[2].querySelector('img').src);

        carouselItems[0].querySelector('img').src = temp[1];
        carouselItems[1].querySelector('img').src = temp[2];
        carouselItems[2].querySelector('img').src = images[currentIndex];

        currentIndex++;
        if (currentIndex > images.length - 1) {
            currentIndex = 0;
        }
    }

    carouselLeftBtn.onclick = (e) => {
        let temp = []

        temp.push(carouselItems[0].querySelector('img').src);
        temp.push(carouselItems[1].querySelector('img').src);
        temp.push(carouselItems[2].querySelector('img').src);

        carouselItems[2].querySelector('img').src = temp[1];
        carouselItems[1].querySelector('img').src = temp[0];
        carouselItems[0].querySelector('img').src = images[currentIndex];

        currentIndex--;
        if (currentIndex < 0) {
            currentIndex = images.length - 1;
        }
    }

    function swapImages(step, currentIndex, thumbImg, carouselThumbItems) {
        
    }

    for (let i = 0; i < carouselThumbItems.length; i++) {
        if (i == 2) {
            continue
        }

        carouselThumbItems[i].onclick = (e) => {
            if (i == 3) {
                let temp = []

                temp.push(carouselThumbItems[0].querySelector('img').src);
                temp.push(carouselThumbItems[1].querySelector('img').src);
                temp.push(carouselThumbItems[2].querySelector('img').src);
                temp.push(carouselThumbItems[3].querySelector('img').src);
                temp.push(carouselThumbItems[4].querySelector('img').src);

                carouselThumbItems[0].querySelector('img').src = carouselThumbItems[1].querySelector('img').src;
                carouselThumbItems[1].querySelector('img').src = carouselThumbItems[2].querySelector('img').src;
                carouselThumbItems[2].querySelector('img').src = carouselThumbItems[3].querySelector('img').src;
                carouselThumbItems[3].querySelector('img').src = carouselThumbItems[4].querySelector('img').src;
                carouselThumbItems[4].querySelector('img').src = thumbImg[currentIndex];

                currentIndex++;
                if (currentIndex > thumbImg.length - 1) {
                    currentIndex = 0;
                }
            }

            if (i == 4) {
                let temp = []

                temp.push(carouselThumbItems[0].querySelector('img').src);
                temp.push(carouselThumbItems[1].querySelector('img').src);
                temp.push(carouselThumbItems[2].querySelector('img').src);
                temp.push(carouselThumbItems[3].querySelector('img').src);
                temp.push(carouselThumbItems[4].querySelector('img').src);

                carouselThumbItems[0].querySelector('img').src = carouselThumbItems[2].querySelector('img').src;
                carouselThumbItems[1].querySelector('img').src = carouselThumbItems[3].querySelector('img').src;
                carouselThumbItems[2].querySelector('img').src = carouselThumbItems[4].querySelector('img').src;
                carouselThumbItems[3].querySelector('img').src = thumbImg[currentIndex];
                carouselThumbItems[4].querySelector('img').src = thumbImg[(currentIndex + 1) % thumbImg.length];

                currentIndex -= 2;
                if (currentIndex < 0) {
                    currentIndex = thumbImg.length - 1;
                }
            }

            if (i == 1) {
                let temp = []

                temp.push(carouselThumbItems[0].querySelector('img').src);
                temp.push(carouselThumbItems[1].querySelector('img').src);
                temp.push(carouselThumbItems[2].querySelector('img').src);
                temp.push(carouselThumbItems[3].querySelector('img').src);
                temp.push(carouselThumbItems[4].querySelector('img').src);

                carouselThumbItems[4].querySelector('img').src = carouselThumbItems[3].querySelector('img').src;
                carouselThumbItems[3].querySelector('img').src = carouselThumbItems[2].querySelector('img').src;
                carouselThumbItems[2].querySelector('img').src = carouselThumbItems[1].querySelector('img').src;
                carouselThumbItems[1].querySelector('img').src = carouselThumbItems[0].querySelector('img').src;
                carouselThumbItems[0].querySelector('img').src = thumbImg[currentIndex];

                currentIndex--;
                if (currentIndex < 0) {
                    currentIndex = thumbImg.length - 1;
                }
            }

            if (i == 0) {
                let temp = [];

                temp.push(carouselThumbItems[0].querySelector('img').src);
                temp.push(carouselThumbItems[1].querySelector('img').src);
                temp.push(carouselThumbItems[2].querySelector('img').src);
                temp.push(carouselThumbItems[3].querySelector('img').src);
                temp.push(carouselThumbItems[4].querySelector('img').src);

                carouselThumbItems[4].querySelector('img').src = carouselThumbItems[2].querySelector('img').src;
                carouselThumbItems[3].querySelector('img').src = carouselThumbItems[1].querySelector('img').src;
                carouselThumbItems[2].querySelector('img').src = carouselThumbItems[0].querySelector('img').src;
                carouselThumbItems[1].querySelector('img').src = thumbImg[currentIndex];
                carouselThumbItems[0].querySelector('img').src = thumbImg[(currentIndex + 1) % thumbImg.length];

                currentIndex -= 2;
                if (currentIndex < 0) {
                    currentIndex = thumbImg.length - 1;
                }
            }
        }
    }

</script>

</html>