.Faqs-wrapper {
  padding: 80px 32px;
}

.Faqs-wrapper .Faqs-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 20px;
}
.Collapse-open-header {
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.Faqs-wrapper .Faqs-custom-header {
  border-bottom: none;
}

.Faqs-wrapper .Faqs-content {
  padding: 0 24px 24px;
  color: var(--gray-600, #475467);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Collapse-collapse {
  transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.Collapse-collapse-content {
  overflow: hidden;
}
