@import "/views/components/_reset.css";
@import "/views/components/_config.css";
@import "/views/components/_variable.css";
@import "/views/components/_input.css";
@import "/views/components/Button.css";
@import "/views/components/Header.css";
@import "/views/components/BreadCrumbs.css";
@import "/views/components/Badge.css";
@import "/views/components/card.css";
@import "/views/components/BlogCard.css";
@import "/views/components/RoomCard.css";
@import "/views/components/Alert.css";
@import "/views/components/StaticCard.css";
@import "/views/components/RateCard.css";
@import "/views/components/Tabs.css";
@import "/views/components/SectionHeader.css";
@import "/views/components/Pagination.css";
@import "/views/components/RatingInput.css";
@import "/views/components/Footer.css";

@import "./components/ShipDetail.css";
@import "./components/Navigation.css";
@import "./components/Carousel.css";
@import "./components/Breadcrumb.css";
@import "./components/Sidebar.css";

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.popup-content {
  margin: auto;
  background: #fff;
  width: 50%;
  padding: 5px;
  border: 1px solid #d7d7d7;
}

.popup-content {
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: none !important;
  border-radius: 24px;
  border: 1px solid var(--gray-200, #eaecf0);
  background: var(--base-white, #fff) !important;
  box-shadow: var(--shadow-sm);
  padding: 0;
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.Modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ShipDetail-booking-detail-modal {
  width: 800px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  flex: 1 0;
}

.ShipDetail-divider {
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.RoomPicker-room-picker {
  position: relative;
}

.RoomPicker-room-picker-dropdown {
  padding-top: 10px;
  position: absolute;
  inset: 0 auto auto 0;
  transform: translate3d(0, 70px, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
}

.RoomPicker-content {
  padding: 20px 24px;
}

.RoomPicker-item {
  color: var(--gray-900, #101828);
  width: 280px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-100, #f2f4f7);
}

.RoomPicker-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.RoomPicker-item .RoomPicker-item-value {
  color: var(--primary-dark, #0e4f4f);
}

.RoomPicker-item .RoomPicker-group-btn {
  display: flex;
  border-radius: 100px;
  border: 1px solid var(--gray-200, #eaecf0);
}

.RoomPicker-item .RoomPicker-minus {
  border-right: 1px solid var(--gray-200, #eaecf0);
}

.RoomPicker-item .RoomPicker-item-btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.RoomPicker-actions {
  width: 100%;
  padding: 16px;
  border-top: 1px solid var(--gray-200, #eaecf0);
}

.RoomPicker-actions .RoomPicker-action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DatePicker-popper {
  padding-top: 10px;
  z-index: 1;
}

.DatePicker-DatePicker {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03),
    0 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.DatePicker-header {
  background: var(--base-white, #fff);
  border-bottom: none;
  margin: 0;
  padding: 8px 0;
  border-top-left-radius: 0.3rem;
  text-align: center;
}

.DatePicker-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.DatePicker-day-names {
  white-space: nowrap;
  margin-bottom: -20px;
}

.DatePicker-day-name {
  display: inline-flex;
  width: 39px;
  height: 40px;
  padding: 10px 8px;
  justify-content: center;
  align-items: center;
  color: var(--gray-700, #344054);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.DatePicker-dates {
  margin: 0.08rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 32px);
  gap: 10px;
  margin-block: 10px;
}

.DatePicker-day-btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 10px 8px;
  justify-content: center;
  align-items: center;
  color: var(--gray-700, #344054);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  box-shadow: none;
}

.DatePicker-day-btn:disabled {
  color: var(--gray-200, #eaecf0);
  pointer-events: none;
}

.DatePicker-mixi-date-picker .DatePicker-day-btn-today {
  color: var(--primary-base);
  background: none;
}

.DatePicker-day-btn-selectedDate {
  background: var(--primary-base, #77dada);
  color: var(--primary-dark, #0e4f4f);
  border-radius: 50%;
}

.DatePicker-day-btn:hover {
  background: var(--gray-50, #f9fafb);
  border-radius: 50%;
  color: var(--gray-700, #344054);
}
