.group-input-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  gap: 24px;
  justify-content: flex-start;
}

.group-input-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  gap: 18px;
  justify-content: flex-start;
}

.select-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  gap: 24px;
  justify-content: flex-start;
}
