.home-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 32px;
}

.home-section,
.home-cardList {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .home-section {
    padding: 24px;
  }
}
